body {
    margin: 50px;
    background: #1F2937;
    color: white;
    font-family: 'Karla', sans-serif;
    text-align: center;
}
#num-char {
    line-height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #273549;
    color: white;
}
#password1-el, #password2-el {
    display: inline-block;
    border: none;
    background: #273549;
    text-align: center;
    border-radius: 5px;
    width: auto;
    line-height: 39px;
    color: #10B981;
    margin-right: 24px;
    padding: 15px;
}
button {
    display: block;
    background: #10B981;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 51px;
    color: white;
    font-weight: bold;
    margin: 1em auto;
    transform: scale(1);
    transition: transform .05s ease-out;
}

button:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
}

button:active {
    transform: scale(0.9);
}

span {
    display: block;
    color: #10B981;

}

#border {
    width: 100%;
    border: 0.5px solid #2F3E53;
    line-height: 0;
    margin-bottom: 35px;
    margin-top: 35px;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;

}